/*
*   Style: draculapro
*/

$color: #F8F8F2;
$background-color: #22212C;
$error-color: #FF9580;
$keyword-color: #80FFEA;
$text-color: #22212C;
$name-color: #8AFF80;
$literal-color: #FFFF80;

@import "common.scss";
