/*
*   Style: draculapro
*/

$color: #22212C;
$background-color: #F8F8F2;
$error-color: #960050;
$keyword-color: #00a8c8;
$text-color: #111111;
$name-color: #75af00;
$literal-color: #d88200;

@import "common.scss";
